{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="4">CASH</th>
                <th> {{ cash_remaining | usd }}</th>
            </tr>  
        </tfoot>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.stock_name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price_per_share | usd }}</td>
                    <td>{{ stock.total_price | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}